<div class="col">
    <div class="card h-100 quiz-card">
        <div class="quiz-img-container position-relative">
            {{#if this.image}}
            <img src="{{this.image}}" class="card-img-top" alt="{{this.name}}">
            {{else}}
            <img src="/img/default-quiz.png" class="card-img-top" alt="Quiz Default Image">
            {{/if}}

            <div class="play-button-overlay">
                <a href="/quizzes/{{this._id}}" class="play-now-btn">Play Now</a>
            </div>
        </div>

        <div class="card-body p-2">
            <h5 class="card-title mb-1">
                <a href="/detail/{{this._id}}" class="text-dark quiz-link">{{this.name}}</a>
            </h5>
            <div class="d-flex align-items-center">
                <span class="rating me-2">{{this.rating}} <i class="fas fa-star"></i></span>
                <span class="author">By {{this.author}}</span>
            </div>
        </div>
    </div>
</div>

